.birthDateInputs input{
    width: 60px;
}

.password-confirm-error{
    color: red;
}

.input-invalid {
    color: red;
  }

form.ng-invalid{
    border: none;
}

.email-invalid{
    border-color: red;
}